/* GÉNÉRAL */

* {
  font-family: "Lato", sans-serif;
  color: #261624 !important;
}

.container-xxl {
  padding: 0;
}

a {
  font-size: 1.1rem;
  text-decoration: none;
}

.bg-primary {
  background: #f3e9f1 !important;
}

.background-img {
  position: relative;
}

.img-fluid {
  max-width: 100%;
  height: 100%;
}

.background-img section {
  max-width: 50%;
  position: absolute;
  padding: 0 !important;
  top: 1rem;
  left: 1rem;
}

h1,
h2,
#product-content p,
.message p,
#price {
  color: #f7edf5 !important;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-size: 1.1rem;
}

/* TITRE ET SOUS-TITRE */

.title {
  font-weight: 700;
  font-size: 3rem;
}

.subtitle {
  font-size: 2.5rem;
}

.title,
.subtitle {
  color: #261624 !important;
}

/* HEADER */

header div {
  max-width: 1300px;
  margin: auto;
}

i {
  padding-right: 0.5rem;
  font-size: 1.5rem;
}

nav {
  align-items: center;
}

header ul {
  padding-top: 0.4rem;
}

nav img {
  padding-left: 0.5rem;
  height: 3rem;
}

/* ARTICLES */

.cameralist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

article {
  height: 250px;
  width: 100%;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

article:hover {
  transform: scale(1.02);
}

article img {
  height: 80%;
  width: 100%;
  object-fit: cover;
}

article div {
  height: 20%;
}

.border-primary {
  border-color: #f7edf5 !important;
}

/* FOOTER */

.bg-secondary {
  background: #261624 !important;
}

footer ul {
  max-width: 1300px;
}

/* PAGE PRODUIT */

.solo-item {
  max-width: 70%;
}

.item p {
  max-width: 500px;
  margin: auto;
  padding-bottom: 1rem;
  color: #f3e9f1 !important;
}

#add-to-cart,
#empty-cart,
#order {
  padding: 1rem 2rem 1rem 2rem;
  margin: 1rem;
  border: none;
  border-radius: 50px;
  font-weight: 900;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
}

#button:hover,
#empty-cart:hover,
#order:hover {
  transform: scale(1.02);
}

select {
  background-color: #f3e9f1;
}

/* PAGE PANIER */

label {
  color: #f3e9f1 !important;
}

.form-group {
  margin-top: 1rem;
  font-size: 1.2rem;
}

table {
  width: 100%;
}

tr {
  border: solid 1px #f3e9f1;
  border-collapse: collapse !important;
}

th {
  font-size: 1.2rem;
  background-color: #f3e9f1;
  color: #261624;
}

td {
  font-size: 1.2rem;
  color: #f3e9f1 !important;
}

.right {
  text-align: right;
}

strong {
  color: #f3e9f1 !important;
  font-weight: bold;
}

input {
  background-color: #f3e9f1 !important;
}

#small {
  color: #f7edf5 !important;
  font-size: 1rem;
}

/* NOTIFICATION */

.message {
  padding: 8rem 1rem 8rem 1rem;
}

.message p {
  font-size: 1.5rem;
}

/* MEDIA QUERIES */

@media (max-width: 1025px) {
  .cameralist {
    grid-template-columns: repeat(2, 1fr);
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 685px) {
  .cameralist {
    grid-template-columns: repeat(1, 1fr);
  }

  .background-img {
    display: flex;
    flex-direction: column-reverse;
    background-color: #261624;
  }

  .background-img img {
    display: none;
  }

  .background-img section {
    position: static;
    max-width: 100%;
    text-align: center;
    margin: 1rem 0 0.5rem 0;
  }

  .title,
  .subtitle {
    color: #f3e9f1 !important;
  }

  .content {
    display: none;
  }

  nav img {
    padding-left: 0.5rem;
    height: 2.5rem;
  }
}
